@media (max-width: 620px) {
  .container {
    height: 100vh !important;
  }
}

.frameImage {
  width: 90vw !important;
  height: auto;
}

.recommendationsSection {
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  top: 27.5rem;
  max-width: 60vw !important;

  p {
    font-size: 1.75rem;
    width: 45vw;
    text-align: center;
  }

  .trailImage {
    width: 25vw;
    margin-bottom: 5rem;
  }

  .recommendationsList {
    list-style: none;
    text-align: center;

    li {
      font-size: 1.75rem;
      margin-bottom: 4rem;
      a {
        text-decoration: underline;
      }
    }

    li:hover {
      color: #a3a58b;
    }
  }
}
