.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 18.75rem;
  height: auto;
}

.title {
  font-size: 6rem;
  font-family: "Alex Brush";

  .capitalLetter {
    font-size: 10rem;
    font-family: "Allura";
  }
}

.button {
  color: white;
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  background-color: var(--text-color);
  padding: 1rem;
  cursor: pointer;
}

.container {
  width: 100vw;
  color: var(--text-color);
  background: url("../../public/imgs/paper_background.jpg");
  background-size: contain;

  .header {
    margin-top: 4.25rem;
    gap: 5rem;

    .topRightImage {
      width: 45rem;
      height: auto;

      position: absolute;
      top: -15rem;
      right: -18.75rem;

      transform: rotate(-140deg);
    }

    .navList {
      list-style: none;

      font-size: 1.15rem;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;

      display: flex;
      flex-direction: row;
      gap: 2rem;

      .item:hover {
        color: #a3a58b;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .landscape {
      width: 100vw;
      height: auto;
    }

    .nameDateSection {
      margin-top: 10rem;
      gap: 1rem;

      .weddingNames {
        width: 50vw;
        height: auto;
      }

      .datesSpan {
        color: #a3a58b;
        font-family: "Libertinus Mono";
        font-size: 2.75rem;
        text-align: center;
      }
    }

    .frameSection {
      width: 50vw;

      margin-top: 15rem;

      display: flex;
      align-items: center;
      justify-content: center;

      .frameImage {
        width: 75vw;
        height: auto;
      }

      .frameForm {
        position: absolute;
        font-family: "Libre Baskerville";
        width: 50vw;
        height: 101rem;
        justify-content: flex-start;

        .fieldset {
          border: none;
          width: inherit;

          .button {
            padding: 0rem 2rem;
            margin-top: 5rem;
            width: 24rem;
            height: 4rem;
          }

          div {
            width: 100%;
            margin-left: 6.75rem;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2.5rem;

            span {
              color: #474a33;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1.5rem;
              color: #474a33;

              .checkbox {
                margin: 0;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
              }
            }
          }

          legend {
            font-size: 6rem;
            text-align: center;
            margin-bottom: 2.5rem;
          }

          .optionalLabel {
            width: 100%;
            margin-left: 5rem;
            padding: 0 1rem;
            margin-bottom: 2.5rem;
            color: #a3a58b;

            input {
              margin-bottom: 0;
            }
          }

          input {
            width: 45vw;
            height: 4.5rem;
            padding: 1rem;
            margin-bottom: 3rem;
            color: rgb(70, 66, 66);

            font-family: inherit;
            font-size: 1.2rem;
            border: 1px solid #a3a58b;
            background-color: rgba(
              255,
              255,
              255,
              0.3
            ); /* White background with 50% opacity */
            opacity: 100%;
          }

          input::placeholder {
            color: #a3a58b;
          }
        }
      }

      .frameText {
        position: absolute;
        font-family: "Libre Baskerville";
        font-weight: 400;
        width: 50vw;

        .heartImage {
          width: 5vw;
          height: auto;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;

        .textSpan {
          text-align: center;
          font-size: 2rem;
        }

        .moreDiv {
          width: 40vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5rem;
          margin-bottom: 2.5rem;

          .span {
            text-decoration: underline;
            font-size: 1.5rem;
            cursor: pointer;
          }

          .span:hover {
            color: #a3a58b;
          }

          .image {
            width: 20vw;
          }
        }

        .infoDiv {
          width: 50vw;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 10rem;

          .weddingRings {
            width: 15vw !important;
          }

          .sideImage {
            width: 17vw;
            height: auto;
          }

          .infoSpans {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            }

            .headerSpan {
              font-family: "Alex Brush";
              font-size: 5rem;
            }

            .dateSpan {
              font-size: 1.15rem;
            }

            .hourSpan {
              font-family: "Playfair Display";
              font-size: 3.5rem;
            }

            .textLink {
              margin-bottom: 1rem;
              font-size: 1.15rem;
              text-decoration: underline;
              cursor: pointer;
            }

            .textLink:hover {
              color: #a3a58b;
            }
          }
        }
      }
    }

    .countdownSection {
      margin-top: 15rem;
      gap: 1rem;

      .minorBanner {
        height: auto;
        width: 60vw;
      }

      .majorBanner {
        height: auto;
        width: 70vw;
      }

      .textSpan {
        height: 0;
        text-align: center;
        font-size: 8rem;
        position: relative;
      }

      .motorcycle {
        height: auto;
        width: 50vw;
        margin-bottom: 5rem;
        padding-left: 5rem;
      }

      .countdownDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: -8.325rem;
        right: -1rem;

        .division {
          font-size: 2.75rem;
        }

        .countdownSpanNumbers {
          height: 0;
          width: 5rem;

          font-size: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .countdownSpanText {
          height: 0;
          color: #a3a58b;
          width: 10rem;
          font-size: 1.25rem;
          margin-top: 5rem;
          padding: 0rem;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .travelingSection {
      margin-top: 10rem;
      width: 100vw;

      .header {
        margin-top: 0;
        margin-bottom: 7.5rem;
        .planeImage {
          width: 30vw;
          height: auto;
        }
      }

      .paragraph {
        width: 62vw;
        font-size: 2rem;
        text-align: center;

        .textSpan {
          margin-bottom: 3rem;
        }

        .airportList {
          list-style: none;
          text-align: center;
          margin-bottom: 5rem;

          .airportItem {
            margin-bottom: 2rem;
          }
        }
      }

      button {
        width: 38rem;
        padding: 1.5rem 0;
        margin-top: 7rem;
      }
    }

    .housingSection {
      margin-top: 10rem;

      .lineDivision {
        width: 100vw;
        height: auto;
        margin-bottom: 8rem;
      }

      .title {
        margin-bottom: 5rem;
      }

      .bagagesImage {
        width: 30vw;
        height: auto;
        margin-bottom: 8rem;
      }

      .button {
        font-size: 1.5rem;
        width: 20vw;
        margin-bottom: 3rem;
      }

      .span {
        font-size: 1.5rem;
      }
    }

    .contactSection {
      margin-top: 15rem;
      font-size: 1.5rem;
      gap: 1.5rem;

      .paragraphText {
        span {
          display: block;
          text-align: center;
        }
      }
    }

    .giftsSection {
      margin-top: 15rem;

      .lineDivision {
        width: 100vw;
        height: auto;
        margin-top: 5rem;
      }

      .title {
        margin-bottom: 5rem;
      }

      .bagagesImage {
        width: 30vw;
        height: auto;
        margin-bottom: 8rem;
      }

      .button {
        font-size: 1.5rem;
        width: 20vw;
        margin-bottom: 3rem;
      }

      .span {
        font-size: 1.5rem;
      }
    }
  }

  footer {
    font-size: 1.15rem;
    text-align: center;
    width: 100%;
    height: 16rem;
    padding: 8rem;
  }
}
