@media (max-width: 720px) {
  .container {
    height: 100vh !important;
  }

  .housingSection {
    width: 100vw !important;
    height: 100vh !important;

    .frameContent {
      top: 75rem !important;
    }
  }
}

.frameImage {
  width: 100vw !important;
  height: auto;
}

.housingSection {
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  top: 50rem;
  max-width: 60vw !important;

  .frameContent {
    top: 25rem;
  }

  .title {
    padding-left: 10rem;
    font-size: 10rem;

    .capitalLetter {
      position: absolute;
      top: -3rem;
      left: 6rem;
      font-size: 5.5rem;
      font-style: italic;
      font-family: var(--font-amsterdam);
    }
  }

  .bagageImage {
    max-width: 32vw;
    height: auto;
    margin-bottom: 5rem;
  }

  span {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.75rem;
    width: 50vw;
    text-align: center;
  }
}
